@use "./config/variaveis.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variaveis.$font;
}

body {
  background-color: variaveis.$background_color;
}

li {
  list-style: none;
}

.container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: variaveis.$blue;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .menu {
    display: flex;

    li {
      font-weight: bold;
      margin-left: 1.5rem;

      a {
        color: variaveis.$white;
        text-decoration: none;
      }
    }
  }
}

section {
  padding: 3.5rem 0;
}

.products {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;

  .product-item img {
    width: 100%;
    border-radius: 16px;
  }

  .product-button {
    display: block;
    background-color: variaveis.$green;
    color: variaveis.$white;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 8px;
    margin-top: 0.5rem;
    text-decoration: none;

    &:hover {
      background-color: variaveis.$green_hover;
    }
  }
}

@media screen and (max-width: variaveis.$desktop) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: variaveis.$tablet) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: 2rem;
  }
}
