$font: Roboto, sans-serif;
$background_color: #f5f6fa;
$blue: #182c61;
$green: #44bd32;
$green_hover: #4cd137;
$white: white;

// -----------breakpoints-----------

$desktop: 1023px;
$tablet: 767px;

// ---------------------------------
